# top-most EditorConfig file
root = true

# general indent style: 4 spaces
indent_style = space
indent_size = 4
max_line_length = 120

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# html,xml and yml are 2 spaces
[*.{html,xml,yml}]
indent_size = 2

# programming languages we code generally with 4 space indention
[*.{js,json,py,php,java,rb,sh,c,h,cpp}]
indent_size = 4

# CSS is coded with 4 space indention
[*.{css,scss,less}]
indent_size = 4

[*.{md,markdown,rst}]
trim_trailing_whitespace = false
indent_size = 4

[node_modules/**.js]
codepaint = false

[{package,bower}.json]
indent_style = space
indent_size = 2

[**.std]
insert_final_newline = false

[Gemfile*]
indent_size = 4

[Rakefile]
indent_size = 4

[Makefile]
indent_style = tab
